/* CSS DOCUMENT */
@charset "utf-8";
@font-face {
    font-family: "Gilda";
    src: url(fonts/GildaDisplay-Regular.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "roboto";
    src: url(fonts/roboto.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
* {
    background-color: beige;
    font-family: "roboto", serif;
}
h1 {
    font-family: "Gilda", sans-serif;
    color: rgb(87, 5, 117);
    font-size: 50px;
}
h2 {
    font-family: "roboto", sans-serif;
    color: rgb(54, 25, 218);
    font-size: 35px;
}
h3 {
    font-size: 20px;
}
p {
    font-size: 15px;
}
