/* CSS DOCUMENT */
@charset "utf-8";

@font-face {
    font-family: "FrederickatheGreat";
    src: url(fonts/FrederickatheGreat-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Caladea";
    src: url(fonts/Caladea-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AlegreyaSans";
    src: url(fonts/AlegreyaSans-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(246, 242, 250);
    font-family: "AlegreyaSans", serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.datos-personales {
    height: auto;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.sobre-mi-y-mis-habilidades {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.idiomas,
.formacion-academica,
.experiencia-laboral {
    padding: 5px;
    margin: 5px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

ul,
p,
li {
    font-family: "AlegreyaSans", serif;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px;
    font-family: "AlegreyaSans", serif;
}

h1 {
    text-align: left;
    padding: 10px;
    margin: 10px;
    padding-left: 30px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

span {
    margin-top: 100px;
    font-family: "FrederickatheGreat", sans-serif;
    color: rgb(117, 78, 151);
    font-size: 100px;
}

h2 {
    text-align: right;
    padding: 10px;
    padding-right: 30px;
    background-color: rgb(232, 222, 241);
    font-family: "Caladea", sans-serif;
    color: rgb(68, 42, 91);
    font-size: 45px;
}

h3 {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(232, 222, 241);
    text-align: left;
    color: rgb(177, 105, 126);
    font-size: 30px;
    font-family: "Caladea", sans-serif;
}

h4 {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(232, 222, 241);
    text-align: center;
    color: rgb(177, 105, 126);
    font-size: 25px;
    font-family: "Caladea", sans-serif;
}

.cuadro {
    width: 350px;
    height: 350px;
    margin: 10px;
    padding: 20px;
    background-color: rgb(232, 222, 241);
    border-radius: 10px;
    text-align: left;
}

footer {
    text-align: center;
}